<config>
    <modules>
        <Cgi_AddShippingCost>
            <version>0.1.1</version>
        </Cgi_AddShippingCost>
    </modules>

    <global>
        <blocks>
            <addshippingcost>
                <class>Cgi_AddShippingCost_Block</class>
            </addshippingcost>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Cgi_AddShippingCost_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                    <sales_order_invoice_totals>Cgi_AddShippingCost_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>Cgi_AddShippingCost_Block_Adminhtml_Sales_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <addshippingcost>
                <class>Cgi_AddShippingCost_Model</class>
            </addshippingcost>
        </models>
        <helpers>
            <addshippingcost>
                <class>Cgi_AddShippingCost_Helper</class>
            </addshippingcost>
        </helpers>
        <resources>
            <addshippingcost_setup>
                <setup>
                    <module>Cgi_AddShippingCost</module>
                    <class>Cgi_AddShippingCost_Model_Resource_Setup</class>
                </setup>
            </addshippingcost_setup>
        </resources>

        <sales>
            <quote>
                <totals>
                    <addshippingcost>
                        <class>addshippingcost/quoteTotals</class>
                        <after>subtotal</after>
                        <before>tax</before>
                    </addshippingcost>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <addshippingcost>
                        <class>addshippingcost/invoiceTotals</class>
                    </addshippingcost>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <addshippingcost>
                        <class>addshippingcost/creditmemoTotals</class>
                    </addshippingcost>
                </totals>
            </order_creditmemo>
        </sales>

        <events>
            <sales_quote_item_set_product>
                <observers>
                    <addshippingcost>
                        <class>addshippingcost/observer</class>
                        <method>salesQuoteItemSetProduct</method>
                    </addshippingcost>
                </observers>
            </sales_quote_item_set_product>
        </events>

        <fieldsets>
            <sales_convert_quote>
                <add_cost>
                    <to_order>*</to_order>
                </add_cost>
            </sales_convert_quote>
            <sales_convert_order>
                <add_cost>
                    <to_quote>*</to_quote>
                    <to_invoice>*</to_invoice>
                    <to_shipment>*</to_shipment>
                    <to_cm>*</to_cm>
                </add_cost>
            </sales_convert_order>
        </fieldsets>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <addshippingcost>
                        <class>addshippingcost/observer</class>
                        <method>coreBlockAbstractToHtmlBefore</method>
                    </addshippingcost>
                </observers>
            </core_block_abstract_to_html_before>
            <sales_order_grid_collection_load_before>
                <observers>
                    <addshippingcost>
                        <!-- Add column to product list -->
                        <model>addshippingcost/observer</model>
                        <method>salesOrderGridCollectionLoadBefore</method>
                    </addshippingcost>
                </observers>
            </sales_order_grid_collection_load_before>
        </events>
    </adminhtml>

</config>