<config>
    <modules>
        <Cgi_TopProducts>
            <version>0.1.0</version>
        </Cgi_TopProducts>
    </modules>
    <frontend>
        <layout>
            <updates>
                <topproducts>
                    <file>topproducts.xml</file>
                </topproducts>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <topproducts>
                <class>Cgi_TopProducts_Block</class>
            </topproducts>
        </blocks>
        <helpers>
            <topproducts>
                <class>Cgi_TopProducts_Helper</class>
            </topproducts>
        </helpers>
        <models>
            <topproducts>
                <class>Cgi_TopProducts_Model</class>
            </topproducts>
        </models>
        <resources>
            <topproducts_setup>
                <setup>
                    <module>Cgi_TopProducts</module>
                    <class>Cgi_TopProducts_Model_Resource_Setup</class>
                </setup>
            </topproducts_setup>
        </resources>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <topproducts>
                        <!-- Add column to catalog product grid -->
                        <model>topproducts/adminhtml_observer</model>
                        <method>onBlockHtmlBefore</method>
                    </topproducts>
                </observers>
            </core_block_abstract_to_html_before>
            <eav_collection_abstract_load_before>
                <observers>
                    <topproducts>
                        <!-- Add column to product list -->
                        <model>topproducts/adminhtml_observer</model>
                        <method>onEavLoadBefore</method>
                    </topproducts>
                </observers>
            </eav_collection_abstract_load_before>
        </events>
    </adminhtml>
</config>